<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <TargetLatestRuntimePatch>false</TargetLatestRuntimePatch>
    <RollForward>LatestPatch</RollForward>
    <AppHostDotNetSearch>Global</AppHostDotNetSearch>
    <PublishDir>bin\Release\net10.0-windows\publish\win-x64-framework-dependent\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>
